---
import marked from "marked";
import Counter from "../../components/Counter";

const text = `
## dowadowa
**dowa----**
- dowa
- dowa
- dowa
`;
const html = marked.parse(text);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>dowae</title>
  </head>
  <body>
    <Counter client:load />
    <Fragment set:html={html} />
  </body>
</html>
